//
//  app-config.xcconfig
//  bloom
//
//  Created by Mark Brown on 11/05/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Reference values in this file using Bundle.main.infoDictionary?[KEY]

// Supabase API Key
API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wY2ZtZGxqd3RpaXZjYXZ4cXBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY0NzY3NjksImV4cCI6MjA2MjA1Mjc2OX0.F-eP_5T9NX6Bhba1zl8MNNft7BR-71SPqGXd3k3wpJY

// Supabase Project Reference ID
REF_ID = npcfmdljwtiivcavxqpe

// Callback URL's for Deeplinking
CALLBACK_BASE_URL = com.bloom.bloom-app:/
CALLBACK_URL_LOGIN = $(CALLBACK_BASE_URL)/login-callback
